:root{
    --background-color : rgb(230,241,227);
    --textcolor--accent : rgb(228 116 55);
}
* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    

}


li , ol , a {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

button {
    background-color: inherit;
    cursor: pointer;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin : auto;
    margin-top: 100px;
}


/* header */
.quiz__header {
    background-color: var(--background-color);
    width: 600px;
    height: 150px;
    text-align: center;
    border : 1px solid silver;
}
/* main-home */
.quiz__main {
    max-width: 600px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quiz__home {
    height: 460px;
    width: 600px;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    justify-content: center;
    align-items: center;
    border: 1px solid silver;
    
}

.quiz__home__img {
    width: 600px;
    height: 300px;
}

.btn--start {
    background-color: rgb(239, 241, 243);
    width: 100px;
    height: 50px;
    border-radius: 20px;
    border: 0;
    color: var(--textcolor--accent);
    font-weight: 700;
    margin-bottom: 20px;
}
/* quiz__form */

.quiz__form {
    background-color: var(--background-color);
    width: 600px;
    height: 450px;
    border: 1px solid silver;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}


.quiz__item {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 600px;
    height: 450px;
    justify-content: space-evenly;
    align-items: center;
    padding: 100px 0;
}

.quiz__item__quiz {
    color: var(--textcolor--accent);
    font-weight: 900;
    font-size: 40px;
}

.quiz__item__input {
    width: 50%;


}

/* btn--next */
.btn--next{
    background-color: rgb(198, 228, 187);
    width: 100px;
    height: 50px;
    border-radius: 20px;
    border: 0;
    color: var(--textcolor--accent);
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
    padding: 15px 15px;
    position: relative;
    top: -40px;

    
}

.btn--next:hover{
    border-radius: 1px solid blue;
}

/* result */
.quiz__result {
    width: 600px;
    height: 450px;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    border : 1px solid silver;
}

.result__desc{
    color: var(--textcolor--accent);
}
.result__img {
    width: 250px;
    height: 250px;
}

.btn--restore {
    background-color: rgb(198, 228, 187);
    width: 100px;
    height: 50px;
    border-radius: 20px;
    border: 0;
    color: var(--textcolor--accent);
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
    
}

.btn--restore > a {
    padding: 15px 15px;
}
/* active */
.active{
    display: none;

}